{:paths ["src" "target/classes"]
 :deps {
   org.clojure/clojure {:mvn/version "1.12.0"}
   io.github.clojure/core.async {:git/sha "0f340a906cad0450a18cb88391f74b5f7cf4aa26"}
   ;; org.clojure/core.async {:mvn/version "1.9.809-SNAPSHOT"}
 }
 :aliases {
   ;; clj -T:build co :vthreads '"target"'
   :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}} 
           :ns-default build} 

   ;; clj -M:test
   :test {:main-opts ["-m" "main"]}

   ;; clj -A:nosrc
   :nosrc {:paths ["target/classes"]}

   ;; clj -M:nosrc:vtarget -m main
   ;; clj -M:nosrc:vavoid -m main
   :vtarget {:jvm-opts ["-Dclojure.core.async.vthreads=target"]}
   :vavoid {:jvm-opts ["-Dclojure.core.async.vthreads=avoid"]}
 }
} 
